body{
    margin:0;
    overflow:hidden;
    background:black;
    font-family:Arial;
}

#gameCanvas{
    display:block;
    margin:auto;
    border:2px solid white;
    background:#050505;
}

#ammoUI{
    position:absolute;
    left:20px;
    top:20px;
    color:cyan;
    font-size:26px;
    font-weight:bold;
}

#gameOver{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:red;
    font-size:60px;
    display:none;
}
