body{
    margin:0;
    overflow:hidden;
    background:black;
    font-family:Arial, sans-serif;
}

/* Canvas */
#game{
    display:block;
    margin:auto;
    border:2px solid white;
    background:#050505;
}

/* Ammo linksboven */
#ammoUI{
    position:absolute;
    left:20px;
    top:20px;
    color:cyan;
    font-size:26px;
    font-weight:bold;
    z-index:10;
}

/* Game over tekst */
#gameOver{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:red;
    font-size:60px;
    display:none;
    z-index:20;
}

/* Pauzeknop */
#pauseBtn{
    position:absolute;
    top:15px;
    left:15px;
    font-size:18px;
    padding:6px 12px;
    cursor:pointer;
    z-index:30;
}
